body{
    background-color: #10c5b0;
    margin: 0;
    
}

.thumbnail{
    background: url("guillaume-techer-Jm9P0mDPo6A-unsplash (1).jpg");
    background-position: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

input{
    position: relative;bottom: 0px;
}

.nav_bar{
    position: absolute;
    left: 70%;
}

.nav_bar a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.nav_bar a:hover{
    color: rgb(245, 176, 112);
    font-size: 25px;
}

.thumbnail h2{
    color: azure;
    margin: 0;
    padding-top: 100px; 
    font-size: 40px;
}

.thumbnail h1{
    width: 400px;
    height: 70px;
    color: #ca7d7d;
    margin: 0;
    font-size: 100px;
    font-style: italic;
    font-weight: bolder;

}


.mid_section{
    background-color:rgb(208, 241, 253);
    width: 1120px;
    height: 250px;
    margin-left: 180px;
    margin-top: 5px;
    border-top: 5px solid rgb(96, 205, 248);
    border-left: 10px solid rgb(80, 192, 236);
    position: absolute;
    display: grid;
	grid-template-columns: 1fr 1fr auto 1fr ;
}

.mid_section img{
    width: 250px;
    padding-top: 10px;    
}

.mid_section p{
    padding-top: 55px;
    padding-left: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.category{
    position: absolute;
    background-color:#dce098;
    width: 100%;
    height: 510px;
    top: 670px;
    margin-right: 10px;
}


.track_list{
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    top: 675px;
    background-image: url("joe-deutscher-_4z-C9kn1yc-unsplash.jpg");
    background-position: center;
    width: 100%;
    height: 1260px;
    background-size: cover;
    background-repeat: no-repeat;
}

.top_choice{
    border: none;
    background-color: rgba(255, 240, 240, 0.315);
    margin-top: 10px;
    width: 300px; 
    height: 50px;
    font-size: 30px;
    margin-left: 20px;
    color: rgb(228, 228, 220);
    font-weight: bold;
}

.disc{
    display: grid;
    height: 190px;
    width: 1000px;
    grid-template-columns: 210px 30px 300px auto;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgba(245, 245, 245, 0.39);
}

.disc img{
    width: 200px;
    height: 200px;
}

.disc audio{
    margin-top: 50px;
    cursor: pointer;
}

/* .footer{
    position: absolute;
    top: 2500px;
    background-color:#ca7d7d;
    width: 1125px;
    height: 60px;
    margin: 10px;
    margin-left: 180px;
} */


.disc_tab{
    height: 40px;
    width: 200px;
    grid-template-columns: 210px 30px 300px auto;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgba(245, 245, 245, 0.39);
    padding-top: 15px;
    padding-bottom: 5px;
}

.disc_tab a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(245, 240, 234);
}

.disc_tab :hover{
    color: rosybrown;
    background-color: rgb(248, 240, 234);
    font-weight:bold ;
}


.holder{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 200px;
    width: 300px;
}